<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>controller.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RawController</servlet-name>
        <servlet-class>controller.RawController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRaw</servlet-name>
        <servlet-class>controller.DeleteRaw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRaw</servlet-name>
        <servlet-class>controller.AddRaw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRaw</servlet-name>
        <servlet-class>controller.UpdateRaw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>controller.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddManager</servlet-name>
        <servlet-class>controller.AddManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductPageController</servlet-name>
        <servlet-class>controller.ProductPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.CheckOutController</servlet-class>
    </servlet>
    <servlet>
    <servlet-name>ViewOrdersServlet</servlet-name>
    <servlet-class>controller.ViewOrdersServlet</servlet-class>
</servlet>
    <servlet>
        <servlet-name>ViewDetailController</servlet-name>
        <servlet-class>controller.ViewDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckCart</servlet-name>
        <servlet-class>controller.CheckCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaff</servlet-name>
        <servlet-class>controller.AddStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayReturnController</servlet-name>
        <servlet-class>controller.VNPayReturnController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CodOrderController</servlet-name>
        <servlet-class>controller.CodOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetailsServlet</servlet-name>
        <servlet-class>controller.ViewOrderDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrder</servlet-name>
        <servlet-class>controller.CancelOrder</servlet-class>
    </servlet>
    
    <servlet>
    <servlet-name>OrderListController</servlet-name>
    <servlet-class>controller.OrderListController</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>OrderListController</servlet-name>
    <url-pattern>/orders</url-pattern>
</servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgetPasswordController</servlet-name>
        <servlet-class>controller.ForgetPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetPasswordController</servlet-name>
        <url-pattern>/forgot-password</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AboutUsController</servlet-name>
        <servlet-class>controller.AboutUsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutUsController</servlet-name>
        <url-pattern>/aboutus</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerifyEmailController</servlet-name>
        <servlet-class>controller.VerifyEmailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyEmailController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/reset-password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FAQController</servlet-name>
        <servlet-class>controller.FAQController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FAQController</servlet-name>
        <url-pattern>/faq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RawController</servlet-name>
        <url-pattern>/raw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRaw</servlet-name>
        <url-pattern>/deleteRaw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRaw</servlet-name>
        <url-pattern>/addRaw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRaw</servlet-name>
        <url-pattern>/updateRaw</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomerListServlet</servlet-name>
        <servlet-class>controller.CustomerListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerListServlet</servlet-name>
        <url-pattern>/customers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddManager</servlet-name>
        <url-pattern>/addManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductPageController</servlet-name>
        <url-pattern>/productPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/checkOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailController</servlet-name>
        <url-pattern>/viewDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckCart</servlet-name>
        <url-pattern>/CheckCart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaff</servlet-name>
        <url-pattern>/addStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayReturnController</servlet-name>
        <url-pattern>/vnpay-return</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CodOrderController</servlet-name>
        <url-pattern>/codOrder</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    <servlet-name>ViewOrdersServlet</servlet-name>
    <url-pattern>/view-order</url-pattern>
</servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetailsServlet</servlet-name>
        <url-pattern>/vieworderdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrder</servlet-name>
        <url-pattern>/cancelorder</url-pattern>
    </servlet-mapping>
</web-app>
